.card-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.spinner {
  margin: 0 auto;
}

.table-container {
  margin-left: 5vw;
  margin-right: 5vw;
}
@media (orientation: portrait) {
  .table-container {
    margin: 0px;
  }
}

.toggle-buttons {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: right;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 15%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 5%;
}
